[Desktop Entry]
Name=SMU (Dev)
GenericName=SMU 工具箱 (开发模式)
Comment=快捷工具箱开发模式
Exec=/home/stone/workspace/rust/smu/src-tauri/target/debug/smu
Icon=/home/stone/workspace/rust/smu/src-tauri/icons/512x512.png
Terminal=false
Type=Application
Categories=Utility;Development;
StartupNotify=true
StartupWMClass=smu
