[Desktop Entry]
Name=SMU
Comment=SMU 工具箱
Exec=smu
Icon=smu
Terminal=false
Type=Application
Categories=Utility;Development;
StartupNotify=true
StartupWMClass=smu